@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@media (min-width: 1170px) {
    .container {
        max-width: 1169px; } }

* {
    margin: 0;
    padding: 0; }

html {
    height: 100%; }

body {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    height: 100%; }

a {
    text-decoration: none; }

input, button {
    border: none;
    outline: none; }

#root {
    min-height: 100%;
    display: flex;
}

.background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: url("./images/background.png") center no-repeat;
    background-size: cover;
    z-index: 1;
    width: 100%;
    min-height: 100%; }
.background:before {
    content: "";
    position: absolute;
    background-color: #000;
    opacity: .3;
    width: 100%;
    height: 100%;
    z-index: -1; }

.content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0; }

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 505px;
    background: rgba(36, 36, 36, 0.85);
    color: white;
    border-radius: 5px;
    padding: 62px 30px 50px; }

.form h1 {
    padding: 29px 0 21px 0;
    font-size: 28px;
    font-weight: 300;
    text-align: center; }

.form p {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 300; }

.form p span {
    font-weight: 400; }

.form > strong {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 60px;
    line-height: 23px; }

.form .form__button {
    display: inline-block;
    margin-top: 54px;
    padding: 14px 27px;
    font-size: 18px;
    font-weight: 400;
    max-width: 220px;
    text-transform: uppercase;
    background: #e6d605;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #494b47;
    transition: 0.3s cubic-bezier(0.33, 0.04, 0.58, 0.95);
    cursor: pointer;
    outline: none; }
.form .form__button:hover {
    background: white;
    box-shadow: 270px 0 0 0 #636561 inset;
    color: white; }

.form .form__button .form__button-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form p a, .form span a {
    color: #e6d605;
    font-weight: 400;
    transition: .3s;
    display: inline-block;
    position: relative; }
.form p a:before, .form span a:before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e6d605;
    transition: 0.3s cubic-bezier(0.33, 0.04, 0.58, 0.95); }
.form p a:hover:before, .form span a:hover:before {
    width: 100%;
    left: 0;
    background: #e6d605; }

.form span {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-top: 30px;
    line-height: 23px; }

.form .span__weight {
    font-weight: 400; }

.form__logo img {
    width: 134px;
}

.form__logo::before, .form__logo::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #e6d605;
    top: 50%;
    width: 155px;
    transform: translateY(-100%); }

.form__logo {
    display: inline-block;
    outline: none;
    position: relative; }
.form__logo::before {
    right: calc(100% - 320px); }
.form__logo::after {
    left: calc(100% - 319px); }

.grecaptcha-badge {
    visibility: hidden;
}
.form .recaptcha-info {
    line-height: 1.4;
    padding-top: 30px;
    font-size: 12px;
}
.logo__animation {
    border: 2px solid #e6d605;
    width: 132px;
    height: 132px;
    top: 1px;
    left: 1px;
    position: absolute;
    border-radius: 50%;
    animation: pulsing-scale 5s infinite; }

@-moz-keyframes pulsing-scale {
    0% {
        transform: scale(0.95); }
    50% {
        transform: scale(1.03); }
    100% {
        transform: scale(0.95); } }

@-webkit-keyframes pulsing-scale {
    0% {
        transform: scale(0.95); }
    50% {
        transform: scale(1.03); }
    100% {
        transform: scale(0.95); } }

@-o-keyframes pulsing-scale {
    0% {
        transform: scale(0.95); }
    50% {
        transform: scale(1.03); }
    100% {
        transform: scale(0.95); } }

@keyframes pulsing-scale {
    0% {
        transform: scale(0.95); }
    50% {
        transform: scale(1.03); }
    100% {
        transform: scale(0.95); } }

footer {
    flex: 0 0 auto; }

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 505px; }

.footer a {
    color: white;
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
    transition: 0.3s cubic-bezier(0.33, 0.04, 0.58, 0.95); }
.footer a:before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    transition: 0.3s cubic-bezier(0.33, 0.04, 0.58, 0.95); }
.footer a:hover:before {
    width: 100%;
    left: 0;
    background: white; }

.footer__email, .footer__language {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.footer__email {
    width: 40%;
    padding-right: 8%; }

.footer__language {
    width: 60%; }

@media screen and (max-width: 991px) {
    .form {
        width: 475px; }
    .form .form__logo::before {
        width: 140px;
        right: calc(100% - 305px); }
    .form .form__logo::after {
        width: 140px;
        left: calc(100% - 304px); }
    .footer {
        width: 475px; } }

@media screen and (max-width: 767px) {
    .form {
        width: 445px; }
    .form .form__logo::before {
        width: 125px;
        right: calc(100% - 289px); }
    .form .form__logo::after {
        width: 125px;
        left: calc(100% - 290px); }
    .footer {
        width: 445px;
        padding-bottom: 35px; } }

@media screen and (max-width: 575px) {
    .form {
        width: 345px;
        padding: 62px 15px 50px; }
    .form .form__logo::before {
        width: 80px;
        right: calc(100% - 240px); }
    .form .form__logo::after {
        width: 80px;
        left: calc(100% - 239px); }
    .footer {
        width: 345px; }
    .footer .footer__email {
        order: 2;
        width: 100%;
        justify-content: center;
        padding: 8px 0 0 0; }
    .footer .footer__email i {
        padding-right: 5%; }
    .footer .footer__language {
        order: 1;
        width: 100%;
        justify-content: space-evenly; } }

@media screen and (max-width: 385px) {
    .form {
        width: 300px; }
    .form .form__logo::before {
        width: 62px;
        right: calc(100% - 217px); }
    .form .form__logo::after {
        width: 62px;
        left: calc(100% - 217px); }
    .footer {
        width: 285px; } }
